<div class="container">
  <h1>Movie Finder</h1>

  <form>
    <div class="form-group">
      <input type="text" name="movie-name" id="movie-name" class="form-control" placeholder="Enter movie name" #movieName>
    </div>
    <div class="form-group mt-2">
      <button (click)="getMovieDetails(movieName.value)" type="submit" class="btn btn-primary">Get movie details</button>
    </div>
  </form>

  <div class="row bg-light mt-4 p-4">
    @if (movieData) {
      <div class="col-sm-4">
        @if (movieData.Error) {
          <div>
            <h3>{{movieData.Error}}</h3>
          </div>
        } @else {
          <div>
            <img src="{{movieData.Poster}}">
          </div>
          <div class="col-sm-8">
            <div>
              <h1>{{movieData.Title}}</h1>
              <h2>Director: {{movieData.Director}}</h2>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>

